.cart-table {
  & .table {
    border: 2px solid $heading-color;
    margin: 0;
    // Responsive
    @media #{$large-mobile} {
      border-top: 2px solid $heading-color;
    }
    // Head
    & thead {
      background-color: $heading-color;
      // Responsive
      @media #{$large-mobile} {
        display: none;
      }
      & tr {
        & th {
          text-align: center;
          border: none;
          font-size: 16px;
          font-weight: 600;
          color: $white;
          padding: 12px 20px;
        }
      }
    }
    & tbody {
      & tr {
        & td {
          text-align: center;
          border: none;
          padding: 25px 20px;
          vertical-align: middle;
          border-bottom: 1px solid #dddddd;
          // Responsive
          @media #{$large-mobile} {
            display: block;
            width: 100%;
            max-width: none;
            padding: 15px;
            text-align: left;
          }
        }
      }
    }
  }
}
.cart-table {
  & th.pro-thumbnail,
  td.pro-thumbnail {
    max-width: 120px;
    min-width: 100px;
    width: 120px;
    // Responsive
    @media #{$large-mobile} {
      & a {
        width: 120px;
      }
    }
  }
  & th.pro-title,
  td.pro-title {
    min-width: 200px;
  }
  & th.pro-price,
  td.pro-price {
  }
  & th.pro-quantity,
  td.pro-quantity {
  }
  & th.pro-subtotal,
  td.pro-subtotal {
  }
  & th.pro-remove,
  td.pro-remove {
  }
  & td.pro-thumbnail {
    & a {
      display: block;
      border: 1px solid #eeeeee;
      & img {
        width: 100%;
        background-color: #f6f7f8;
      }
    }
  }
  & td.pro-title {
    & a {
      font-size: 16px;
      font-weight: 600;
      color: $body-color;
      &:hover {
        color: $theme-color;
      }
    }
  }
  & td.pro-price {
    & span {
      display: block;
      font-size: 15px;
      font-weight: 600;
      color: $body-color;
    }
  }
  & td.pro-quantity {
    & .pro-qty {
      display: inline-flex;
      text-align: center;
      border: 1px solid #eeeeee;
      & .qtybtn {
        height: 42px;
        padding: 0 10px;
        border: none;
        background-color: transparent;
      }
      & input {
        height: 42px;
        width: 50px;
        text-align: center;
        border-width: 0 1px;
        border-style: solid;
        border-color: #eeeeee;
        color: $body-color;
      }
    }
  }
  & td.pro-subtotal {
    & span {
      display: block;
      font-size: 15px;
      font-weight: 600;
      color: $body-color;
    }
  }
  & td.pro-addtocart {
  }
  & td.pro-stock {
    & span.in-stock {
      font-size: 14px;
      text-transform: capitalize;
      color: #30b878;
    }
    & span.out-stock {
      color: #eb3e32;
    }
  }
  & td.pro-remove {
    & a {
      display: block;
      font-weight: 600;
      color: $body-color;
      & i {
        font-size: 15px;
      }
      &:hover {
        color: #ff0000;
      }

      // Responsive
      @media #{$large-mobile} {
        width: 60px;
        text-align: center;
      }
    }
  }
}
