// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'bootswatch';
@import 'variables2';
@import 'variabls';
@import 'cart';

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

// Custom
@import 'custom';

.product {
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 0.7rem rgb(221, 221, 220));
  }
}

.product-wrapper {
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 250px;
}

.thsize {
  font-size: 14px;
}
.tdsize {
  font-size: 14px;
}
.trsize {
  min-height: 70px !important;
}
.txtaciklama {
  font-size: 13px !important;
  margin: 0px;
}
.buttons {
  width: 10% !important;
}

.icon {
  padding-right: 0.5rem;
}

.navigation-link {
  font-weight: bold;
  font-size: 15px;
}

.alerter {
  display: none;
  z-index: 1008 !important;
  right: 20px;
  top: 160px;
  position: fixed;
}
.alert-show {
  display: block !important;
}
.alert-hide {
  display: none !important;
}

#footer {
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  width: 100%;
  height: 10rem;
}

.svg-icon {
  width: 3rem;
  height: 3rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #1c2129;
}

.svg-icon circle {
  stroke: #1c2129;
  stroke-width: 1;
}

label.error {
  color: red;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}

input.error {
  border: 1px solid red;
  font-weight: 300;
  color: red;
}
