// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

// Custom
@import 'custom';

.product {
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 0.7rem rgb(221, 221, 220));
  }
}

.product-wrapper {
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 250px;
}

.thsize {
  font-size: 14px;
}
.tdsize {
  font-size: 14px;
}
.trsize {
  min-height: 70px !important;
}
.txtaciklama {
  font-size: 13px !important;
  margin: 0px;
}
.buttons {
  width: 10% !important;
}

.icon {
  padding-right: 0.5rem;
}
